body {
    /*background-color: aqua;*/
}

H1 {
    width: 60%;
    margin: auto;
    font-size: 40px
}

p {
    font-size: 20px;
}

span {
    font-size: 14px;
}

.content {
    width: 75%;
    background-color: bisque;
    padding: 20px;
    margin: auto;
}

.questions {
    width: 60%;
    margin: auto;
}


#timer {
    width: 60%;
    margin: auto;
    font-size: 28px
}

#submit {
    width: 60%;
    margin: 30 auto;
    background: blue;
    color: white;
}